* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
}

.links a:hover,
a:focus {
    color: orange;
    text-decoration: underline;
}

.navbar .logo a:hover {
    color: orange;
}

/*Header*/
header {
    background-color: black;
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: none;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

/* Dropdown menu */
.dropdown-menu {
    top: 8vh;
    height: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-menu.open {
    height: 300px;
}

.dropdown-menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */
main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-top: 5vh;
    text-align: center;
    font-size: 2.2rem;
}

h2 {
    margin-top: 3vh;
    text-align: center;
    font-size: 1.9rem;
}

/* Uppgiften */
.intro p,
.task-list p {
    font-size: 1.3rem;
}

.intro {
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.intro a {
    color: blue;
    text-decoration: underline;
}

.task-list {
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 5vh auto 8vh auto;
    box-shadow: 12px 12px 5px -5px rgba(0, 0, 0, 0.75);
}

.task-list ul {
    padding: 20px 10px;
}

.task-list ul li {
    padding: 10px 0;
    list-style-type: disc;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* Bilder */
.subtitle p {
    font-size: 1.3rem;
    margin: 20px auto;
    text-align: center;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.pictures .picture {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.pictures img {
    width: 100%;
    max-width: 500px;
}

/* Arbetsprocessen */
.process-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.development {
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    padding: 0 30px;
    margin: 20px auto;
    box-shadow: 12px 12px 5px -5px rgba(0, 0, 0, 0.75);
}

.publication {
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    padding: 0 30px;
    margin: 0 auto 50px auto;
    box-shadow: 12px 12px 5px -5px rgba(0, 0, 0, 0.75);
}

.development ul,
.publication ul {
    padding: 20px 10px;
}

.development ul li,
.publication ul li {
    padding: 10px 0;
    list-style-type: disc;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* Ramschema */
form {
    width: 80%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    margin: 5vh  auto;
  }

  input {
    all: unset;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

table {
    table-layout: fixed;
    width: 90%;
    max-width: 800px;
    margin: 10vh auto;
    border-collapse: collapse;
    border: 1px solid lightgray;
    box-shadow: 12px 12px 5px -5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    outline: 1px solid lightgray;
    overflow: hidden;
  }
  
  thead th:nth-child(1) {
    width: 10%;
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
  }
  
  thead th:nth-child(2) {
    width: 20%;
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
  }
  
  thead th:nth-child(3) {
    width: 15%;
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
  }

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid grey;
  }

/* Footer */
footer {
    display: flex;
    height: 8vh;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

@media (min-width: 768px) {

    .navbar {
        max-width: 1200px;
        margin: 0 auto;
    }

    .navbar .links {
        display: flex;
    }

    .navbar .links .active a {
        color: orange;
    }

    .navbar .toggle-btn {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    main {
        min-height: 92vh;
        padding-bottom: 8vh;
    }

    /* Uppgiften */
    .intro {
        width: 800px;
        padding: 10px;
        margin: 20px auto;
    }

    .task-list {
        width: 800px;
        padding: 20px 30px;
    }

    /* Bilder */
    .main-picture {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        min-height: 100vh;
        padding-bottom: 8vh;
    }

    .pictures {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Arbetsprocessen */
    .process-wrapper {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 5vh;
    }

    .development,
    .publication {
        margin: 20px auto;
    }

    .development ul,
    .publication ul {
        padding: 30px;
    }

    /* Ramschema */
    form {
        width: 50%;
    }

    table {
        width: 100%;
      }
      
      thead th:nth-child(2) {
        width: 30%;
      }
      
}