* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #aeeae1;
    font-size: 1.4rem;
}

.links a:hover,
a:focus {
    color: orange;
    text-decoration: underline;
}

.navbar .logo a:hover {
    color: orange;
}

/*Header*/
header {
    background-color: black;
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: none;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

/* Dropdown menu */
.dropdown-menu {
    top: 8vh;
    height: 0;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-menu.open {
    height: 200px;
}

.dropdown-menu li {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */

main {
    max-width: 1200px;
    margin: 0 auto;
    height: 85vh;
}

/* Footer */
footer {
    display: flex;
    height: 8vh;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .navbar {
        max-width: 1200px;
        margin: 0 auto;
    }

    .navbar .links {
        display: flex;
    }


    .navbar .links .active a {
        color: orange;
    }

    .navbar .toggle-btn {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }
}